<div class="container">

    <div class="icons">
        <a href="https://www.facebook.com/lisset.gonzalez.1044" target="_blank"> <span nz-icon nzType="facebook" nzTheme="outline" style="color:rgb(0, 0, 0)"></span></a>
        <a href="https://www.instagram.com/lisset_gonzalez_ruisanchez/" target="_blank"><span nz-icon nzType="instagram" nzTheme="outline"></span></a>
        <a href="https://twitter.com/LissetGonzalez0" target="_blank"><span nz-icon nzType="twitter" nzTheme="outline"></span></a>
    </div>
</div>